<!DOCTYPE html>
<html>
    <head>
        <title>Buster's Best Bowling Alley Homepage</title>
    </head>
    <body>
      <h1>Buster's Best Bowling Alley</h1>
    end

    it "displays the bowling alley tagline in an h2" do
      expect(last_response.body).to include("<h2> Bet You Can't Bowl A Strike Every Time</h2>")
    end

    it "displays the bowling alley address in a p tag" do
      expect(last_response.body).to include("<p> 97 Bowling Alley Lane, Boulder CO </p>")
    </body>
</html>